- var theme_customizer      = true;
- var page_datatable        = true;
- var datatable             = true;
- var sidebar               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body  
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-12.col-sm-6
                  h3
                    | Wishlist

                .col-12.col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        i(data-feather="home")
                    li.breadcrumb-item Ecommerce
                    li.breadcrumb-item.active Wishlist

          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header
                    h5 Wishlist
                  .card-body
                    .row
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box                                  
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/06.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/04.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/02.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/01.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box                                  
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/06.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/05.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/04.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                      .col-xxl-2.col-xl-3.col-lg-4.col-md-4.col-sm-6
                        .prooduct-details-box 
                          .media-wishlist-product
                            img.align-self-center.img-fluid(src='../assets/images/ecommerce/03.jpg', alt='#')
                            .media-body-wishlist-product
                              .product-name
                                h6
                                  a(href='#') Fancy Women's Cotton
                              .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                              .price.d-flex 
                                .text-muted.me-2 Price
                                | : 210$
                              .avaiabilty
                                .text-success In stock
                              a.btn.btn-primary(href="#") 
                                i(data-feather="shopping-cart")
                // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
